<section data-ng-controller="TipsController" data-ng-init="show()">
	<ul class="articles unstyled" id="isotope-container">
		<li data-ng-size={{tip.likes}} class="isotope-element" data-ng-repeat="tip in tips" _id="{{tip._id}}" lalala-directive
			style="width: {{tips.settingsView.valueOfdivision*tip.likes}}px; height: {{tips.settingsView.valueOfdivision*tip.likes}}px"
		>
			<div class="tips-tool">
				<div data-ng-click="addlike(tip)" class="tips-addlikes tips-btn-smal"><span data-likes="{{tip.likes}}">{{tip.likes}}</span></div>
				<a href="#!/{{tips.linkEdit}}{{tip._id}}" class="tips-edit tips-btn-smal"><span>Edit</span></a>
				<div class="tips-share tips-btn-smal"><span>Copy link</span></div>
			</div>
			<p class="navbar-text navbar-right">Date<a href="#" class="navbar-link">{{tip.created | date:'medium'}}</a></p>
			<span>{{tip.created | date:'medium'}}</span> <br />
			category: <span>{{tip.category}}</span><br/>
			<hr/>
			text: <div>{{tip.text}}</div>
		</li>
	</ul>
	<h1 data-ng-hide="!tips || tips.length">No tips yet. <br> Why don't you <a href="/#!/tips/create">Create One</a>?</h1>
</section>